<%- model_class = Employee -%>
<div class="page-header">
  <h1><%=t '.title', :default => Employee %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:employe_id) %></th>
      <th><%= model_class.human_attribute_name(:emp_name) %></th>
      <th><%= model_class.human_attribute_name(:email_id) %></th>
      <th><%= model_class.human_attribute_name(:phone_no) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:pan_no) %></th>
      <th><%= model_class.human_attribute_name(:passport_no) %></th>
      <th><%= model_class.human_attribute_name(:passport_expry_date) %></th>
      <th><%= model_class.human_attribute_name(:date_of_joining) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.employe_id %></td>
        <td><%= employee.emp_name %></td>
        <td><%= employee.email_id %></td>
        <td><%= employee.phone_no %></td>
        <td><%= employee.address %></td>
        <td><%= employee.pan_no %></td>
        <td><%= employee.passport_no %></td>
        <td><%= employee.passport_expry_date %></td>
        <td><%= employee.date_of_joining %></td>
        <td><%=l employee.created_at, format: :long %></td>
        <td>
          <%= link_to employee_path(employee), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to employee_path(employee), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_employee_path,
            :class => 'btn btn-primary' %>
